*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #25252b;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
    border: 2px solid #ff2770;
    box-shadow: 0 0 25px #ff2770;
}
h2, label, i, .link, .register-link{
    color: #fff;
}
h2{
    margin-bottom: 25px;
}
.form-box{
    padding-top: 50px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
.input-box{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
input{
    height: 20px;
    width: 100%;
    background-color: #25252b;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: white;
}
label{
    position: relative;
    top: -20px;

    transform: translateY(-50%);
    font-size: 16px;
    transition: .5s;
}
.form-box i{
    position: relative;
    top: -18px;
    left: 65%;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -50px;
    color: #ff2770;
}
.btn{
    height: 35px;
    width: 300px;
    background-color: transparent;
    border-radius: 30px;
    outline: none;
}
.login-link{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
}
.link{
    margin-top: 25px;
    font-size: 17px;
    text-align: center;
}
.register-link{
    color: #ff2770;
    text-decoration: none;
}