@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Kalam:wght@300;400;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}
.alert {
    display: flex;
    justify-content: center;
    background-color: #7d7098 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

#alert-message {
    color: #fff;
    margin-top: 5px;
}

#btn-closed {
    height: 1px;
    width: 1px;
}

.color-container {
    background-color: #f7f7f7;
}

.container-fluid,
.navbar {
    background-color: #fff;
}

#navbarNav {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
}

.navbar-brand {
    display: flex;
    font-size: 50px !important;
    margin-left: 90px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    font-weight: bold;
    font-size: 17px;
}

.nav-link {
    text-transform: uppercase;
    margin: 0 0.5rem;
    cursor: pointer;
}

.login-modal {
    height: 80vh;
    overflow-y: hidden;
}

a i{
    font-size: 30px;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

.modal-body {
    min-height: 100vh;
}

.wrapper {
    position: relative;
    width: 500px;
    height: 450px;
    display: flex;
    justify-content: center;
}

#login-heading {
    margin-bottom: 60px;
}

.form-box {
    padding-top: 50px;
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

.input-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input {
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

label {
    position: relative;
    top: -20px;
    transform: translateY(-50%);
    font-size: 16px;
    transition: 0.5s;
}

.form-box i {
    position: relative;
    top: -27px;
    left: 65%;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -50px;
    color: #ff2770;
}

.btn {
    height: 35px;
    width: 300px;
    border-radius: 30px;
    outline: none;
}

.login-link {
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid black;
    &:hover{
        border: 2px solid black;
    }
}

.link {
    margin-top: 25px;
    font-size: 17px;
    display: flex;
    gap: 0.25rem;
    text-align: center;
    cursor: pointer;
}

.register-link {
    color: #ff2770;
    text-decoration: none;
}

.quote-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote1 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.quote2 {
    font-size: 30px;
    font-family: "Homemade Apple", cursive;
    font-weight: 400;
    font-style: normal;
    color: #7d7098;
}

.start-pic-card,
.vertical-container {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.pic-cards {
    cursor: pointer;

    &:hover {
        opacity: 60%;
    }
}

.round-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: wrap;

    &:hover {
        opacity: 60%;
    }
}

.round-recipe-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    overflow-x: scroll;
}

.round-card-img {
    border-radius: 50%;
}

.card-body {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.search-recipes {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.search-input {
    width: 500px;
    height: 45px;
    outline: none;
    border: 1px solid black !important;
    padding: 0 !important;
}

.btn-recipes {
    background-color: #7d7098;
    padding: 10px 15px;
    border: none;
}

.vert-card-title {
    font-weight: bold;
}
.link-recipe{
    color: #edb654;
    font-size: 20px;
    text-decoration: none;
}

.vert-card-img {
    height: 100% !important;
}

.vert-text-para {
    font-weight: normal;
}

.social-media-container {
    height: 150px;
    background-color: #7d7098;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25rem;
}

.social-media-section {
    display: flex;

    gap: 0.75rem;
}

.follow {
    color: #fff;
    font-weight: bold;
    position: relative;
    top: 7px;
}

.socialMediaTag {
    width: 40px;
    border-radius: 50%;
}

.name,
.email {
    height: 45px;
    width: 200px;
    padding-left: 5px;
    outline: none;
}

.input-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signup-heading {
    display: flex;
    font-size: 2rem;
    color: #fff;
}

#signup-subHead {
    font-family: "Qwigley", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}

#email-subHead {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 15px;
}

.btn-signup {
    height: 45px;
    width: 70px;
    color: white;
    background-color: #edb654;
    border: none;
}

.input-section {
    position: relative;
    bottom: 1rem;
}

.offcanvas {
    height: 80vh !important;
}

.offcanvas-input {
    width: 90vw;
    padding-left: 5px;
    height: 35px;
    margin-left: 25px;
    border-radius: 30px;
    outline: none;
}

.inner-searchBar-scrollCard {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.offcanvas-card {
    width: 18rem;
}

.offcanvas-card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.d-block {
    height: 80vh;
}

.recipe-container {
    height: 400px;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    background-color: #4d4d4d;
}

.top-recipes {
    width: 450px;
}

.cookbook-heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
    font-family: "Arvo";
    font-weight: bolder;
    font-weight: 400;
}

.down-recipe-container {
    color: white;
    width: 500px;
}

.recipe-input {
    height: 40px;
    padding-left: 8px;
    width: 200px;
    outline: none;
}

.recipe-submit {
    height: 40px;
    width: 55px;
    background-color: #edb654;
    color: #fff;
    border: none;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    margin: 100px;
    display: flex;
    gap: 10rem;
}

.footer-content li {
    list-style: none;
    margin: 10px 0;
}

li a {
    color: grey;
    text-decoration: none;
}

.list-group {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
}

.socialMedia {
    margin-top: 50px;
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMediaTag {
    width: 30px;
    margin: 0 5px;
}

#about-title {
    font-size: 15px;
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-us {
    height: 200px;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7d7098;
    border-radius: 50px;
    padding: 15px;
    margin: 60px 150px 100px 0;
}

.contact-heading {
    margin-top: 10px;
    font-size: 35px;
    color: #fff;
    display: flex;
    gap: 0.8rem;
}

#signup {
    font-family: "Whisper", cursive;
    font-weight: 400;
    font-style: normal;
}

#Email-Updates {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#contact-input {
    height: 35px;
    width: 375px;
    border-radius: 30px;
    margin-top: 25px;
    padding-left: 10px;
    border: 1px solid #fff;
    outline: none;
}
.review-container{
    height: 150px;
}
.review-container i{
    color: yellow;
    font-size: 25px;
    margin-right: 10px;
}
//Round Recipe Pages
.round-recipe-heading{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.round-recipe-page-container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url("../Pics/BgImage.jpg");
}
.sub-cards{
    margin: 15px 65px;
}


// About Us Page

.about-me-body{
    display: flex;
    margin: 30px 0 45px 30px;
}
.about-me-container{
    background-color: #f2f2f2;
    width: 85vw;
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    
}
.about-heading {
    margin: 10px 0;
    color: purple;
    font-family: Domaine Display,Georgia,Cambria,Times New Roman,Times,serif;
    font-weight: 700;
    font-style: normal;
}
.about-us-text{
    text-wrap: pretty;
}
.about-web-body{
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
.about-us-image{
    border-radius: 50%;
}
